.digimonSingle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9;
    border: 2px solid #dedede;
    border-radius: 10px;
    padding: 20px;
    max-width: 900px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.digimon-left {
    flex: 1; /* Ocupa la mitad del ancho */
    text-align: center;
    padding-right: 20px; /* Añade espacio entre la imagen y los botones */

}

.digimon-right {
    flex: 1; /* Ocupa la mitad del ancho */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px; /* Añade espacio entre los botones y los detalles */

}

.digimon-image {
    width: 250px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.digimon-name {
    font-size: 1.8em;
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 10px;
}

.digimon-details {
    margin-top: 10px;
}

.digimon-attribute,
.digimon-type,
.digimon-level {
    font-size: 1.1em;
    color: #34495e;
    margin: 5px 0;
}

.digimon-attribute strong,
.digimon-type strong,
.digimon-level strong {
    color: #8e44ad;
}

.button {
    width: 200px;
    height: 40px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    color: #fff;
}

.button-description {
    background-color: #3498db;
}

.button-fields {
    background-color: #2ecc71;
}

.button-abilities {
    background-color: #f39c12;
}

.button-prior-evolutions {
    background-color: #e74c3c;
}

.button-next-evolutions {
    background-color: #9b59b6;
}

  /* Responsive Design */
@media (max-width: 768px) {
    .digimonSingle-container {
        flex-direction: column;
        max-width: 90%;
        padding: 15px;
    }

    .digimon-left,
    .digimon-right {
        flex: none;
        width: 100%;
    }

    .digimon-right {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .digimon-image {
        width: 200px; 
    }

    .button {
        font-size: 0.9em;
    }
}
